{% extends "base.html" %}
{% block content %}

<div class="row profile-main-div">
    <div class="col-12 spacer-for-registration element-margin">
        <h2 class="text-color-register register" id="registration-tittle">Recipe edit panel</h2>
    </div>
    <form class="element-margin" method="POST" action="{{ url_for('editrecipe', recipe_name=recipe[0].tittle) }}">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8">
                {% if session['user'] == "admin" %}
                <h4 class="text-color-register element-margin">Edit the username:</h4>
                <div class="input-group input-group-sm mb-3 element-margin">
                    <span class="input-group-text" id="inputGroup-sizing-sm">User Name</span>
                    <input type="text" name="username" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="{{ recipe[0].user }}">
                </div>
                {% endif %}
                <h4 class="text-color-register element-margin">Write the recipe name:</h4>
                <div class="input-group input-group-sm mb-3 element-margin">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Recipe Name</span>
                    <input type="text" name="tittle" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="{{ recipe[0].tittle }}">
                </div>
                <h4 class="text-color-register element-margin">Select the category:</h4>
                <select class="form-select element-margin" name="category_name" aria-label="Default select example">
                    {% for type in categories %}
                        {% if recipe[0].category == type.category_name %}
                            <option value="{{type.category_name}}" selected>{{type.category_name}}</option>
                        {% else %}
                            <option value="{{type.category_name}}">{{type.category_name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <h4 class="text-color-register element-margin">In this space write a descriptions of this amazing pizza recipe:</h4>
                <div class="input-group input-group-sm element-margin">
                    <span class="input-group-text">Description:</span>
                    <textarea class="form-control" name="description" aria-label="With textarea" placeholder="{{ recipe[0].description }}">{{ recipe[0].description }}</textarea>
                </div>

                <h4 class="text-color-register element-margin">Ingredients:</h4>
                {% for data in recipe %}
                    {% for k,v in data.items() %}
                        {% if k[0] == "i": %}
                            <div class="input-group input-group-sm element-margin">
                                <span class="input-group-text">{{k}}</span>
                                <textarea class="form-control" name="{{ k }}" aria-label="With textarea" placeholder="{{v}}">{{v}}</textarea>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                <h4 class="text-color-register element-margin">In the following spaces write the tools used:</h4>
                {% for data in recipe %}
                    {% for k,v in data.items() %}
                        {% if k[1] == "o": %}
                            <div class="input-group input-group-sm element-margin">
                                <span class="input-group-text">{{k}}</span>
                                <textarea class="form-control" name="{{ k }}" aria-label="With textarea" placeholder="{{v}}">{{v}}</textarea>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                <h4 class="text-color-register element-margin">Step by step write here how to prepare the pizza:</h4>
                {% for data in recipe %}
                    {% for k,v in data.items() %}
                        {% if k[0] == "s": %}
                            <div class="input-group input-group-sm element-margin">
                                <span class="input-group-text">{{k}}</span>
                                <textarea class="form-control" name="{{ k }}" aria-label="With textarea" placeholder="{{v}}">{{v}}</textarea>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <div class="col-sm-12 element-margin">
                    <button type="submit" class="btn btn-success rounded btn-registration">Submit</button>
                </div>
            </div>
        </div>
        
    </form>
    
</div>
 

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>



{% endblock %}