{% extends "base.html" %}
{% block content %}

<div>
  <div class="main-tittles">
    <h2 class="element-margin text-color-register">Welcome to Splendid pizza coocking book</h2>
  </div>
    <div id="carouselExampleCaptions" class="carousel slide element-margin" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner text-color-register text-carrusel">
          <div class="carousel-item active">
            <img src="{{ url_for('static', filename='img/pizza1.jpg') }}" class="d-block w-100 image-carrusel" alt="...">
            <div class="carousel-caption d-md-block">
              <h2>FIND</h3>
              <p><strong>Find the perfect recipe to enjoy in our recipe catalog</strong></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/pizza2.jpg') }}" class="d-block w-100 image-carrusel" alt="...">
            <div class="carousel-caption d-md-block">
              <h2>COOK</h5>
              <p><strong>Enjoy cooking as we enjoy making the best kitchen tools for you</strong></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/pizza3.jpg') }}" class="d-block w-100 image-carrusel" alt="...">
            <div class="carousel-caption d-md-block">
              <h2>ENJOY</h5>
              <p><strong>Delight in the taste and share your own recipes with pizza lovers</strong></p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="text-color-register text-carrusel">
  <p>Ready to start sharing?</p>
  <a class="achors" href="{{ url_for('recipes') }}"><button class="btn btn-success">ENJOY!</button></a>
  <p>Splendid pizza coocking book is full of nice and perfects recipes for everyone</p>
</div>

{% if session["user"] != "admin"  %}
<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast toast-show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
    <img src="..." class="rounded me-2" alt="...">
    <strong class="me-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <p>Check our new {{products[0].product_name}}</p>
      <a href="https://www.alfaforni.com/en/product/multi-functional-base/">Click here to read more</a> 
    </div>
  </div>
  </div>
  {% endif %}

{% endblock %}