{% extends "base.html" %}
{% block content %}


<div class="main-tittles">
  <h2 class="element-margin text-color-register">Ready to find your favorite recipe?</h2>
</div>
<form method="POST" action="{{ url_for('recipes') }}">
  <div class="row align-items-center">
    <div class="col-12">
      <h4 class="text-color-register element-margin">Select the category:</h4>
    </div>
    <div class="col-8">
      <select class="form-select element-margin" name="category_name" aria-label="Default select example">
        <option selected value="all">All recipes</option>
        {% for type in categories %}
          <option value="{{type.category_name}}">{{type.category_name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-4">
      <button class="btn btn-success rounded"><i class="fas fa-search"></i> Show</button>
    </div>   
  </div>
</form>

<div class="container">
  <div class="row">
    {% for recipe in recipes %}
    <div class="col-md-4 col-12 tiles-color-pattern{{range(1,16)|random}} text-color-register tile-animated{{range(0,3)|random}}">
        <h4 class=" element-margin">{{ recipe.tittle[0]|upper}}{{recipe.tittle[1:]}}</h3>
        <p>{{ recipe.description[0]|upper}}{{recipe.description[1:35] }}...</p>
        <div class="col-sm-12 element-margin">
          <a class="anchors" href="{{ url_for('viewrecipe', _id=recipe._id) }}"><button type="button" class="btn-sm btn-success rounded"><i class="fas fa-eye"></i><strong> View</strong></button></a>
        </div>
    </div>
    {% endfor%}

  </div>
</div>

{% if session["user"] != "admin"  %}
<div class="position-fixed top-0 end-0 p-3 toast-show" style="z-index: 11">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
    <img src="..." class="rounded me-2" alt="...">
    <strong class="me-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <p>Check our new {{products[0].product_name}}</p>
      <a href="https://www.alfaforni.com/en/product/multi-functional-base/">Click here to read more</a> 
    </div>
  </div>
  </div>
  {% endif %}

{% endblock %}