{% extends "base.html" %}
{% block content %}
<div class="col-12 element-margin">
  <h2 class="text-color-register register" id="registration-tittle">New user registration</h2>
</div>
<form method="POST" action="{{ url_for('register') }}" class="element-margin">
  <div class="row justify-content-center">
    
    <div class="col-2"><i class="fas fa-users text-color-register  position-relative top-50 start-50 translate-middle-y"></i></div>
    
    <div class="col-8 form-floating mb-3 element-margin">
      <input type="text" class="form-control" id="username" name="username" placeholder="Your user name here" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$">
      <label class="lebels-registration" style="left:15px;" for="username">Your user name here...</label>
    </div>

    <div class="col-2"></div>
    
    <div class="col-2"><i class="fas fa-lock  text-color-register  position-relative top-50 start-50 translate-middle-y"></i></div>
    
    <div class="col-8 form-floating element-margin">
      <input type="password" class="form-control" id="password" name="password" placeholder="Your password here..." pattern="^[a-zA-Z0-9]{5,15}$">
      <label style="left:15px;" class="lebels-registration" for="password">Your password here...</label>
    </div>
    
    <div class="col-2"></div>
    
    <div class="col-8 element-margin">
      <button type="submit" class="btn btn-success rounded btn-registration">Submit</button>
    </div>
    
    <div class="col-8 text-color-register element-margin">
      <a href="{{ url_for('login') }}" class="text-color-register">Already a user? Login and start sharing recipes!</a>
    </div>

  </div>
</form>

{% endblock %}